.orders-flex {
  display: flex;
  flex-direction: column;
}
.order-flex {
  display: flex;
  background-color: white;
  margin: 25px;
  border: 10px solid #232426c2;
  z-index: 0;
}
.order-desc {
  padding: 20px;
  width: 750px;
}
.order-img-div {
  position: relative;
}
.order-desc a {
  color: #476899 !important;
  /* display: block; */
}
.order-desc a:hover {
  text-decoration: underline;
}
.order-flex button {
  padding: 5px 8px;
  height: 25px;
  margin: 15px;
  background-color: #373333;
  color: white;
  margin-left: auto;
}

.order-img-div p {
  position: absolute;
  left: 5%;
  top: 5%;
  padding: 5px;
  background-color: #373333;
  color: white;
}

.total {
  position: absolute;
  color: black;
  top: 10%;
  right: 15%;
  background: white;
  border: 5px solid #575859;
  padding: 8px;
  z-index: 0;
  display: block;
}
#refresh {
  display: none;
}
