.orders-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.order-flex {
  display: flex;
  background-color: white;
  margin: 25px;
  border: 10px solid #ff9500;
  border-top: 35px solid #ffffff;
  border-bottom: 30px solid white;
  z-index: 0;
  flex-direction: column;
  position: relative;
}
.order-desc {
  padding: 20px;
  width: 750px;
}
.order-desc span {
  margin: auto;
}
.order-img-div {
  position: relative;
  display: flex;
  justify-content: center;
}
.order-desc a {
  color: #476899 !important;
  /* display: block; */
}
.order-desc a:hover {
  text-decoration: underline;
}
.remove {
  padding: 5px 8px;
  height: 25px;
  margin: 15px;
  background-color: #373333;
  color: white;
  margin-left: auto;
  cursor: pointer;
}

.price {
  position: absolute;
  left: -2%;
  top: 35%;
  padding: 5px;
  width: 65px;
  text-align: end;
  font-weight: bold;
  background-color: #ff9500;
  color: white;
  z-index: 1;
}

.total {
  position: absolute;
  color: black;
  top: 10%;
  right: 15%;
  background: white;
  border: 5px solid #575859;
  padding: 8px;
  z-index: 0;
  display: block;
}
#refresh {
  display: none;
}
.info-div {
  display: flex;
  background: #ff9500;
  justify-content: space-between;
  width: 100%;
  padding: 11px;
  align-items: center;
  color: white;
}
